<ul class="nav2">
  <li><h2><a href="index" class="nav">Tiger Eats</a></h2></li>
  <li><form action="searchResults" method="get">
       <table>
          <tr>
          <td><input type="submit" value="Search"></td>
          <td><input class="s"type="text" name="search" placeholder="pizza,burgers,..."></td>
          </tr>
       </table>
    </form></li>
</ul>
